.home-drawer-content {
  a {
    color: black;
  }
}
.wiki-drawer-content {
  .ant-menu-inline {
    width: 100% !important;
    border-inline-end: 0 !important;
  }
}
.ant-drawer {
  .header-drawer-container {
    .ant-drawer-body {
      padding: 10px;
    }
  }
}
.header-menu.ant-menu-horizontal {
  border-bottom: 0;
}
